<div
  #circularMenuLeft
  id="bottomLeftFanGooeyMenu"
  class="circular-menu-left circular-menu-bottom-left"
  [ngClass]="{'active': openMenuIndicator}">
  <div
    class="floating-btn"
    [ngClass]="menuIconName"
    [style.background-color]="fanMenuBtnColor ? fanMenuBtnColor: '#ff9900'"
    (click)="fanMenuBtnClick()">
    <div></div>
  </div>
  <menu class="fan-menu-items-wrapper">
    <div
      class="fan-menu-item menu-tooltip"
      *ngFor="let fanMenuButton of _fanMenuButtons; let i = index; trackBy: fanMenuButtonTrackByFunc"
      [style.background-color]="fanMenuButton.menuBtnColor ? fanMenuButton.menuBtnColor : 'none'"
      [ngClass]="[
          fanMenuButton.enabled ? fanMenuButton.buttonIconName : fanMenuButton.buttonIconName + '-' + EnumIconConditions.Disable,
          fanMenuButton.checked ? fanMenuButton.buttonIconName + '-' + EnumIconConditions.Checked : ''
        ]"
      (click)="closeOpenItems(i)">
        <span
          *ngIf="fanMenuButton.tooltip"
          class="menu-tooltip-text">
            {{fanMenuButton.tooltip}}
        </span>
    </div>
    <div
      *ngFor="let item of _gooeyItems; trackBy: gooeyItemsTrackByFunc"
      class="fan-menu-item">
      <app-gooey-menu
        [gooeyChildren]="item.children"
        [menuBtnColor]="item.menuBtnColor"
        [menuIcon]="item.buttonIconName"
        [menuOpenDirection]="item.openGooeyMenuDirection"
        [gooeyBtnId]="item.id"
        [menuBtnTooltip]="item.tooltip"
        (gooeyMenuActivated)="updateMenus($event)"
        (combineMenuActionName)="getCombineMenuActionName($event)">
      </app-gooey-menu>
    </div>
  </menu>
</div>
