<div
id="topLeftFanGooeyMenu"
class="circular-menu circular-menu-up-left active">
  <div class="floating-btn menu-icon"
    onclick="document.getElementById('topLeftFanGooeyMenu').classList.toggle('active');">
    <div></div>
  </div>

  <menu class="items-wrapper">
    <div class="menu-item ">
      <div
      #circularMenuLeft
      id="bottomLeftFanMenu"
      class="circular-menu-left">
        <div
         #floatingBtn
         class="floating-btn"
         [ngClass]="_menuIcon"
         onclick="document.getElementById('bottomLeftFanMenu').classList.toggle('active');">
        </div>
        <menu class="items-wrapper">
          <div
            class="menu-item-gooey"
            [ngClass]="_items.firstItem.icon.name"
            (click)="_firstChildAction()">
          </div>
          <div class="menu-item-gooey" [ngClass]="_items.secondItem.icon.name" (click)="_secondChildAction()"></div>
          <div class="menu-item-gooey" [ngClass]="_items.thirdItem.icon.name" (click)="_thirdChildAction()"></div>
          <div class="menu-item-gooey" [ngClass]="_items.fourthItem.icon.name" (click)="_fourthChildAction()">
          </div>
        </menu>
      </div>


    </div>
    <div class="menu-item ">
      <div

      id="bottomLeftFanMenu2"
      class="circular-menu-left">
        <div
         #floatingBtn
         class="floating-btn"
         [ngClass]="_menuIcon"
         onclick="document.getElementById('bottomLeftFanMenu2').classList.toggle('active');">
        </div>
        <menu class="items-wrapper">
          <div
            class="menu-item-gooey"
            [ngClass]="_items.firstItem.icon.name"
            (click)="_firstChildAction()">
          </div>
          <div class="menu-item-gooey" [ngClass]="_items.secondItem.icon.name" (click)="_secondChildAction()"></div>
          <div class="menu-item-gooey" [ngClass]="_items.thirdItem.icon.name" (click)="_thirdChildAction()"></div>
          <div class="menu-item-gooey" [ngClass]="_items.fourthItem.icon.name" (click)="_fourthChildAction()">
          </div>
        </menu>
      </div>
    </div>
    <div class="menu-item">
      <div
      id="bottomLeftFanMenu3"
      class="circular-menu-left">
        <div
         #floatingBtn
         class="floating-btn"
         [ngClass]="_menuIcon"
         onclick="document.getElementById('bottomLeftFanMenu3').classList.toggle('active');">
        </div>
        <menu class="items-wrapper">
          <div
            class="menu-item-gooey"
            [ngClass]="_items.firstItem.icon.name"
            (click)="_firstChildAction()">
          </div>
          <div class="menu-item-gooey" [ngClass]="_items.secondItem.icon.name" (click)="_secondChildAction()"></div>
          <div class="menu-item-gooey" [ngClass]="_items.thirdItem.icon.name" (click)="_thirdChildAction()"></div>
          <div class="menu-item-gooey" [ngClass]="_items.fourthItem.icon.name" (click)="_fourthChildAction()">
          </div>
        </menu>
      </div>
    </div>
    <div class="menu-item">
      <div
      #circularMenuLeft
      id="bottomLeftFanMenu4"
      class="circular-menu-left">
        <div
         #floatingBtn
         class="floating-btn"
         [ngClass]="_menuIcon"
         onclick="document.getElementById('bottomLeftFanMenu4').classList.toggle('active');">
        </div>
        <menu class="items-wrapper">
          <div
            class="menu-item-gooey"
            [ngClass]="_items.firstItem.icon.name"
            (click)="_firstChildAction()">
          </div>
          <div class="menu-item-gooey" [ngClass]="_items.secondItem.icon.name" (click)="_secondChildAction()"></div>
          <div class="menu-item-gooey" [ngClass]="_items.thirdItem.icon.name" (click)="_thirdChildAction()"></div>
          <div class="menu-item-gooey" [ngClass]="_items.fourthItem.icon.name" (click)="_fourthChildAction()">
          </div>
        </menu>
      </div>
    </div>
  </menu>

</div>
