<div class="gooey-menu-container">
  <div
    #circularMenu
    class="gooey-menu-left">
    <div
      #floatingBtn
      class="gooey-floating-btn menu-tooltip"
      [ngClass]="menuIcon"
      (click)="clickGooeyMenuBtn()">
          <span
            *ngIf="menuBtnTooltip"
            [class.menu-tooltip-text]="menuOpenDirection == EnumGooeyMenuOpenDirection.RIGHT"
            [class.menu-tooltip-text-right]="menuOpenDirection == EnumGooeyMenuOpenDirection.UP">
              {{menuBtnTooltip}}
          </span>
    </div>
    <menu class="gooey-menu-items-wrapper">
      <div
        *ngFor="let item of gooeyChildren; let i = index"
        class="menu-tooltip"
        [class.menu-item-gooey]="menuOpenDirection == EnumGooeyMenuOpenDirection.RIGHT"
        [class.menu-item-gooey-open-up]="menuOpenDirection == EnumGooeyMenuOpenDirection.UP"
        [ngClass]="[
              item.enabled ? item.buttonIconName : item.buttonIconName + '-' + EnumIconConditions.Disable,
              item.checked ? item.buttonIconName + '-' + EnumIconConditions.Checked : ''
            ]"
        (click)="_childAction(i)">
              <span
                *ngIf="item.tooltip"
                [class.menu-tooltip-text]="menuOpenDirection == EnumGooeyMenuOpenDirection.RIGHT"
                [class.menu-tooltip-text-right]="menuOpenDirection == EnumGooeyMenuOpenDirection.UP">
                  {{item.tooltip}}
              </span>
      </div>
    </menu>
  </div>
</div>
